html {
    font-size: 62.5%;
}

div, img, button {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 90rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.game {
    background-color: lightgrey;
    border: 1rem ridge lightgrey;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header {
    width: 100%;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1rem ridge lightgrey;
}

.digit {
    width: 2.3rem;
    height: 3.7rem;
    float: left;
    background-image: url("img/digits_new.png");
    background-repeat: no-repeat;
}

.digit_0 {
    background-position: 0 0;
}

.digit_1 {
    background-position: -2.4rem 0;
}

.digit_2 {
    background-position: -4.8rem 0;
}

.digit_3 {
    background-position: -7.2rem 0;
}

.digit_4 {
    background-position: -9.6rem 0;
}

.digit_5 {
    background-position: -12.0rem 0;
}

.digit_6 {
    background-position: -14.4rem 0;
}

.digit_7 {
    background-position: -16.8rem 0;
}

.digit_8 {
    background-position: -19.2rem 0;
}

.digit_9 {
    background-position: -21.6rem 0;
}

.digit_minus {
    background-position: -24.0rem 0;
}

.smile_base {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url("img/smiles_new.png");
    background-repeat: no-repeat;
}

.smile {
    background-position: 0 0;
}

.smile:hover {
    background-position: -3.6rem 0;
}

.smile_win {
    background-position: -7.2rem 0;
}

.smile_lose {
    background-position: -10.8rem 0;
}

.field {
    display: grid;
}

.cell {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("img/cells_new2.png");
    background-repeat: no-repeat;
}

.cell_closed {
    background-position: 0 0;
}

.cell_opened {
    background-position: -2.5rem 0;
}

.cell_1 {
    background-position: -5rem 0;
}

.cell_2 {
    background-position: -7.5rem 0;
}

.cell_3 {
    background-position: -10rem 0;
}

.cell_4 {
    background-position: -12.5rem 0;
}

.cell_5 {
    background-position: -15rem 0;
}

.cell_6 {
    background-position: -17.5rem 0;
}

.cell_7 {
    background-position: -20rem 0;
}

.cell_8 {
    background-position: -22.5rem 0;
}

.question {
    background-position: -25rem 0;
}

.flag {
    background-position: -27.5rem 0;
}

.cell_green {
    background-position: -30rem 0;
}

.mine {
    background-position: -32.5rem 0;
}

.mine_error {
    background-position: -35rem 0;
}

.mine_detonated {
    background-position: -37.5rem 0;
}


.conditions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.level {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    align-items: flex-start;
}

.own {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    align-items: flex-start;
    padding-left: 3rem;
}

.own-level {
    margin-bottom: 0.7rem;
}

.own-btn {
    padding: 0.5rem;
    width: 8rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px;
    background-color: lightgrey;
    transition: all 0.5s;
}

.own-btn:hover {
    transform: translateY(0.3rem);
}

.type-click {
    padding: 0.5rem;
    max-width: 100%;
    min-width: 16rem;
    height: 4.5rem;
}

.type-btn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;
}

.btn-flag {
    width: 4.5rem;
    height: 3.5rem;
    background-image: url("img/flags.png");
    background-repeat: no-repeat;
}

.flag-cell {
    background-position: 0 0;
}

.flag-cell-press {
    background-position: -4.5rem 0;
}

.flag-one {
    background-position: -9rem 0;
}

.flag-one-press {
    background-position: -13.5rem 0;
}

.flag-set {
    background-position: -18rem 0;
}

.flag-set-press {
    background-position: -22.5rem 0;
}

.hidden {
    display: none;
}

.hint {
    padding: 1rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px;
    background-color: lightgrey;
    transition: all 0.5s;
}

.hint:hover {
    transform: translateY(0.3rem);
}

.descr {
    max-width: 98%;
    width: 80rem;
    padding: 1rem;
}

.descr__title {
    font-size: 2rem;
}

.descr__text {
    font-size: 1.8rem;
}

.sticky {
    text-align: center;
    background: lightgrey;
    border: 1px solid darkgrey;
    position: fixed;
}