html {
    font-size: 62.5%;
}

div, img, button {
    margin: 0;
    padding: 0;
}

h1 {
    display: none;
}
.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    overflow: hidden;
}

.game {
    background-color: lightgrey;
    border: 1rem ridge lightgrey;
    max-width: 64rem;
    overflow: hidden;
    min-width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1rem ridge lightgrey;
}

.digit-size-2 {
    width: 2rem;
    height: 4rem;
}

.digit-size-3 {
    width: 3rem;
    height: 6rem;
}

.digit-size-4 {
    width: 4rem;
    height: 8rem;
}

.digit {
    float: left;
}

.digit_0 {
    background: no-repeat center / contain url("img/null.png");
}

.digit_1 {
    background: no-repeat center / contain url("img/one.png");
}

.digit_2 {
    background: no-repeat center / contain url("img/two.png");
}

.digit_3 {
    background: no-repeat center / contain url("img/three.png");
}

.digit_4 {
    background: no-repeat center / contain url("img/four.png");
}

.digit_5 {
    background: no-repeat center / contain url("img/five.png");
}

.digit_6 {
    background: no-repeat center / contain url("img/six.png");
}

.digit_7 {
    background: no-repeat center / contain url("img/seven.png");
}

.digit_8 {
    background: no-repeat center / contain url("img/eight.png");
}

.digit_9 {
    background: no-repeat center / contain url("img/nine.png");
}

.smile {
    background: no-repeat center / contain url("img/smile.png");
}

.smile_win {
    background: no-repeat center / contain url("img/win_smile.png");
}

.smile_lose {
    background: no-repeat center / contain url("img/lose_smile.png");
}

.field {
    display: grid;
}

.size-2 {
    width: 2rem;
    height: 2rem;
}

.size-3 {
    width: 3rem;
    height: 3rem;
}

.size-4 {
    width: 4rem;
    height: 4rem;
}

.size-5 {
    width: 5rem;
    height: 5rem;
}

.size-6 {
    width: 6rem;
    height: 6rem;
}

.size-8 {
    width: 8rem;
    height: 8rem;
}


.cell {
    border: grey;
}

.cell_closed {
    background: no-repeat center / contain url("img/closed_cell.png");
}

.cell_opened {
    background: no-repeat center / contain url("img/opened_cell.png");
}

.cell_1 {
    background: no-repeat center / contain url("img/one_mines.png");
}

.cell_2 {
    background: no-repeat center / contain url("img/two_mines.png");
}

.cell_3 {
    background: no-repeat center / contain url("img/three_mines.png");
}

.cell_4 {
    background: no-repeat center / contain url("img/four_mines.png");
}

.cell_5 {
    background: no-repeat center / contain url("img/five_mines.png");
}

.cell_6 {
    background: no-repeat center / contain url("img/six_mines.png");
}

.cell_7 {
    background: no-repeat center / contain url("img/seven_mines.png");
}

.cell_8 {
    background: no-repeat center / contain url("img/eight_mines.png");
}

.flag {
    background: no-repeat center / contain url("img/flag.png");
}

.question {
    background: no-repeat center / contain url("img/question.png");
}

.mine {
    background: no-repeat center / contain url("img/mine.png");
}

.mine_detonated {
    background: no-repeat center / contain url("img/detonated_mine.png");
}

.mine_error {
    background: no-repeat center / contain url("img/error_mine.png");
}


.conditions {
    display: flex;
    flex-direction: column;
}

.size, .level {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    align-items: flex-start;
}

.type-click {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.toggle-type {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.flag_green {
    background: green;
}

.flag_grey {
    background: darkgrey;
}


.hidden {
    display: none;
}

.text-2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.text-3 {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

.text-4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.line {
    width: 3rem;
    height: 0rem;
}